body {
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

.chat-container {
    width: 380px;
    margin: 50px auto;
    background: white;
    padding: 15px;
    border-radius: 10px;
}

#chat-box {
    height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.user {
    text-align: right;
    color: #0066ff;
    margin: 6px 0;
}

.bot {
    text-align: left;
    color: #008000;
    margin: 6px 0;
}
